<div data-role="header" data-backbtn="false" style="text-align: center;">
	<div data-role="content">
		Mobile Blog
	</div>
</div>

<div data-role="content">
	<ul data-role="listview" data-inset="true">
	   	<li>	
			<%= link_to "My Blog", posts_path %>
		</li>
	</ul>
</div>